#root {
  max-width: 100%;
  text-align: center;
  height: 100vh; 
  margin: 0 auto;  
  display: flex;            /* Use flexbox for layout */
  flex-direction: column;
}
html, body {
  height: 100%; /* Ensure the body takes the full height of the viewport */
  margin: 0;    /* Remove default margin */
}
